.swiper-slide-active .animationText3D {
	animation: animationText3Danim 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s both;
}

@keyframes animationText3Danim{
    0% {
      transform: translateY(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(-50px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #737373, 0 2px 0 #737373, 0 3px 0 #737373, 0 4px 0 #737373, 0 5px 0 #737373, 0 6px 0 #737373, 0 7px 0 #737373, 0 8px 0 #737373, 0 9px 0 #737373, 0 50px 30px rgb(5, 5, 5);
    }
  }