@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ant-collapse-header{
    flex-direction: row-reverse;
}

.ant-tabs-nav-list{
    justify-content: center;
}



.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #16a34a ;
    text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs .ant-tabs-tab:hover {
    color: #ca8a04;
}

.ant-tabs .ant-tabs-ink-bar {
    background: #16a34a;
}